<!DOCTYPE html>
<html lang="en">
<head>

    <!--meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no">

    <!--title-->
    <title>Notes - MarketPlace</title>

    <!--fav icon-->
    <link rel="shortcut icon" href="~/Content/user/image/home/favicon.ico">

    <!--font awesome css-->
    <link rel="stylesheet" href="~/Content/user/font-awesome/css/font-awesome.css">

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!--bootstrap css-->
    <link rel="stylesheet" href="~/Content/user/Bootstrap/bootstrap.css">

    <!--external css-->
    <link rel="stylesheet" href="~/Content/user/css/Home.css">

    <!--responsive css-->
    <link rel="stylesheet" href="~/Content/user/css/responsive.css">

</head>
<body>
    <section id="home-section">
        <header>
            <nav id="mynav" class="nav navbar-fixed-top">
                <div class="container">
                    <div class="site-nav-wrapper">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="hamburger-icon">&#9776;</span>
                            </button>
                            <a class="logo" onclick="location.href='@Url.Action("Home","Home")'"><img src="/Content/user/image/home/logo.png" id="notes-logo" alt="Logo" width="180"></a>
                        </div>
                        <div class="container">
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="@Url.Action("SearchNotes","Home")">Search Notes</a></li>
                                    <li><a href="@Url.Action("Dashboard","Home")">Sell Your Notes</a></li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a href="@Url.Action("BuyerRequests","Home")">Buyer Requests</a></li>
                                    }
                                    <li><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
                                    <li><a href="@Url.Action("ContactUs","Home")">Contact Us</a></li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li class="nav-item-drop-down">
                                             <a style="padding-top: 0px; padding-bottom: 0px;" data-toggle="dropdown"><img class="navbar-user-photo" src="../@ViewBag.pic"/></a>
                                             <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                 <li><a class="dropdown-item" href="@Url.Action("UserProfile","Profile")" style="padding-top:10px;padding-bottom:10px;padding-left:7px;Open Sans;font-size:14px;color:#6255a5;">My Profile</a></li>
                                                 <li><a class="dropdown-item" href="@Url.Action("MyDownloads","Profile")" style="padding-top: 10px;padding-bottom:10px; padding-left: 7px; font-family: Open Sans; font-size: 14px; color: #6255a5;">My Downloads</a></li>
                                                 <li><a class="dropdown-item" href="@Url.Action("MySoldNotes","Profile")" style="padding-top: 10px;padding-bottom:10px; padding-left: 7px; font-family: Open Sans; font-size: 14px; color: #6255a5;">My Sold Notes</a></li>
                                                 <li><a class="dropdown-item" href="@Url.Action("MyRejectedNotes","Profile")" style="padding-top: 10px;padding-bottom:10px; padding-left: 7px; font-family: Open Sans; font-size: 14px; color: #6255a5;">My Rejected Notes</a></li>
                                                 <li><a class="dropdown-item" href="@Url.Action("ChangePassword","UserLogin")" style="padding-top: 10px;padding-bottom:10px; padding-left: 7px; font-family: Open Sans; font-size: 14px; color: #6255a5;">Change Password</a></li>
                                                 <li><a class="dropdown-item row-color" href="@Url.Action("Logout","UserLogin")" style="padding-top: 10px; padding-bottom:10px;padding-left: 7px; font-family: Open Sans; font-size: 14px; color: #6255a5;">Logout</a></li>
                                             </ul>
                                        </li>
                                    }
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li>
                                            <button id="home-log-button" onclick="location.href='@Url.Action("Logout","UserLogin")'" class="btn btn-class last-child" type="submit">Logout</button>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <button id="home-log-button" onclick="location.href='@Url.Action("Login","UserLogin")'" class="btn btn-class last-child" type="submit">Login</button>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </header>

        <div class="home-banner" id="home-head">
            <div class="container">
                <div id="title" class="text-left">
                    <h3>Download Free/Paid Notes<br>or Sale Your Book</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit Est
                        <br>nihil blanditiis suscipit ab corrupti.
                    </p>
                    <a href='@Url.Action("FAQ","Home")' class="btn btn-general btn-home smooth-scroll" role="button" href="#" title="Learn More">LEARN MORE</a>
                </div>
            </div>
        </div>

        <div id="about" class="content-box-lg">
            <div class="container">
                <div class="row">
                    <!--AboutLeftSide-->
                    <div class="col-md-6 col-sm-6">
                        <div id="about-left">
                            <div class="vertical-heading">
                                <p>About<br>NotesMarketPlace</p>
                            </div>
                        </div>
                    </div>
                    <!--AboutRightSide-->
                    <div class="col-md-6 col-sm-6">
                        <div id="about-right">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente aspernatur harum libero et nostrum sequi consequatur, tempore accusamus ab esse, voluptatem laudantium voluptas rerum? Laborum id ad alias saepe nemo,alias saepe ne consequatur.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur asperiores ad culpa similique, ratione dicta. Cumque, officia. Velit et inventore hic, unde, eum ea! Vitae dolores culpa molestias, in ratione.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="about-02" class="content-box-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 about-item text-center">
                        <div id="Works-title">
                            <p>How it Works</p>
                        </div>
                    </div>
                    <div id="leftdiv" class="col-md-6 text-center">
                        <div id="image-for-Works"><img class="img-responsive" src="~/Content/user/image/home/download.png" alt="Download"></div>
                        <div id="Works-bottom">
                            <h3>Download Free/Paid Notes</h3>
                            <p>Get Material for your<br>Course etc.</p>
                            <a onclick="location.href='@Url.Action("SearchNotes","Home")'" id="button-for-Works" class="btn btn-general smooth-scroll" role="button" title="Download">DOWNLOAD</a>
                        </div>


                    </div>
                    <div id="rightdiv" class="col-md-6 text-center">
                        <div id="image-for-Works">
                            <img class="img-responsive" src="~/Content/user/image/home/seller.png" alt="Seller">
                        </div>
                        <div id="Works-bottom">
                            <h3>Seller</h3>
                            <p>Upload and Download Course<br>and Materials etc.</p>
                            <a onclick="location.href='@Url.Action("Dashboard","Home")'" id="button-for-Works" class="btn btn-general smooth-scroll" role="button" title="Sell Book">SELL BOOK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-box-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="review-heading">
                            <h2>What Our Customers are Saying</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--Testimonial 01-->
                    <div class="col-md-5 testimonial">
                        <div class="row">


                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3">
                                        <div id="customer-pic">
                                            <img src="~/Content/user/image/home/customer-1.png" alt="customer" />
                                        </div>
                                    </div>

                                    <div class="col-md-9 col-sm-9">
                                        <div id="customer-heading">
                                            <h5>Walter Meller</h5>
                                            <h6>Founder & CEO, Matrix Group</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div id="review">
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quas totam, delectus sit corporis quos error qui. Minus cupiditate explicabo minima ea neque perferendis corporis"</p>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!--Testimonial 02-->
                    <div class="col-md-5 testimonial">
                        <div class="row">


                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3">
                                        <div id="customer-pic">
                                            <img src="~/Content/user/image/home/customer-2.png" alt="customer" />
                                        </div>
                                    </div>

                                    <div class="col-md-9 col-sm-9">
                                        <div id="customer-heading">
                                            <h5>Joannie Riley</h5>
                                            <h6>Employee, Curious Snakcs</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div id="review">
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quas totam, delectus sit corporis quos error qui. Minus cupiditate explicabo minima ea neque perferendis corporis"</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--Testimonial 03-->
                    <div class="col-md-5 testimonial">
                        <div class="row">


                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3">
                                        <div id="customer-pic">
                                            <img src="~/Content/user/image/home/customer-3.png" alt="customer" />
                                        </div>
                                    </div>

                                    <div class="col-md-9 col-sm-9">
                                        <div id="customer-heading">
                                            <h5>Amilia Luna</h5>
                                            <h6>Teacher, Saint Joseph High School</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div id="review">
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quas totam, delectus sit corporis quos error qui. Minus cupiditate explicabo minima ea neque perferendis corporis"</p>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!--Testimonial 04-->
                    <div class="col-md-5 testimonial">
                        <div class="row">


                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3">
                                        <div id="customer-pic">
                                            <img src="~/Content/user/image/home/customer-4.png" alt="customer" />
                                        </div>
                                    </div>

                                    <div class="col-md-9 col-sm-9">
                                        <div id="customer-heading">
                                            <h5>Daniel Cardos</h5>
                                            <h6>Software Engineer, Infinitium Company</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div id="review">
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quas totam, delectus sit corporis quos error qui. Minus cupiditate explicabo minima ea neque perferendis corporis"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <footer>
            <div class="container">

                <div class="row">

                    <div class="col-md-10">
                        <p>
                            Copyright &copy; Tatvasoft All Rights Reserved
                        </p>
                    </div>

                    <div class="col-md-2 text-center">
                        <ul class="social-list">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <!--Jquery-->
    <script src="~/Scripts/user/jQuery-3.5.1.js"></script>
    <!--Bootstrap Js-->
    <script src="~/Scripts/user/bootstrap/bootstrap.js"></script>
    <!--script.js-->
    <script src="~/Scripts/user/script.js"></script>
    <script src="~/Scripts/user/homeheader.js"></script>
</body>
</html>

