@using Notes_MarketPlace.Context

@model Notes_MarketPlace.Context.NoteDetail
<!DOCTYPE html>
<html lang="en">
<head>

    <!--meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no">

    <!--title-->
    <title>Notes - MarketPlace</title>

    <!--fav icon-->
    <link rel="shortcut icon" href="~/Content/user/image/home/favicon.ico">

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!--bootstrap css-->
    <link rel="stylesheet" href="~/Content/user/Bootstrap/bootstrap.css">

    <!--font awesome css-->
    <link rel="stylesheet" href="~/Content/user/font-awesome/css/font-awesome.css">

    <!--external css-->
    <link rel="stylesheet" href="~/Content/user/css/NoteDetails.css">

    <!--responsive css-->
    <link rel="stylesheet" href="~/Content/user/css/responsive.css">

</head>
<body>
    <section>
        <header>
            <nav id="mynav" class="nav navbar-fixed-top white-nav-top">
                <div class="container">
                    <div class="site-nav-wrapper">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="hamburger-icon">&#9776;</span>
                            </button>
                            <a class="logo"><img src="~/Content/user/image/home/logo.png" id="notes-logo" alt="Logo" width="180"></a>
                        </div>
                        <div class="container">
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="@Url.Action("SearchNotes","Home")">Search Notes</a></li>
                                    <li><a href="@Url.Action("Dashboard","Home")">Sell Your Notes</a></li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a href="@Url.Action("BuyerRequests","Home")">Buyer Requests</a></li>
                                    }
                                    <li><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
                                    <li><a href="@Url.Action("ContactUs","Home")">Contact Us</a></li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li class="nav-item-drop-down">
                                             <a style="padding-top: 0px; padding-bottom: 0px;" data-toggle="dropdown"><img class="navbar-user-photo" src="../@ViewBag.pic"/></a>
                                             <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                 <li><a class="dropdown-item" href="@Url.Action("UserProfile","Profile")" style="padding-top:10px;padding-bottom:10px;padding-left:7px;Open Sans;font-size:14px;color:#6255a5;">My Profile</a></li>
                                                 <li><a class="dropdown-item" href="@Url.Action("MyDownloads","Profile")" style="padding-top: 10px;padding-bottom:10px; padding-left: 7px; font-family: Open Sans; font-size: 14px; color: #6255a5;">My Downloads</a></li>
                                                 <li><a class="dropdown-item" href="@Url.Action("MySoldNotes","Profile")" style="padding-top: 10px;padding-bottom:10px; padding-left: 7px; font-family: Open Sans; font-size: 14px; color: #6255a5;">My Sold Notes</a></li>
                                                 <li><a class="dropdown-item" href="@Url.Action("MyRejectedNotes","Profile")" style="padding-top: 10px;padding-bottom:10px; padding-left: 7px; font-family: Open Sans; font-size: 14px; color: #6255a5;">My Rejected Notes</a></li>
                                                 <li><a class="dropdown-item" href="@Url.Action("ChangePassword","UserLogin")" style="padding-top: 10px;padding-bottom:10px; padding-left: 7px; font-family: Open Sans; font-size: 14px; color: #6255a5;">Change Password</a></li>
                                                 <li><a class="dropdown-item row-color" href="@Url.Action("Logout","UserLogin")" style="padding-top: 10px; padding-bottom:10px;padding-left: 7px; font-family: Open Sans; font-size: 14px; color: #6255a5;">Logout</a></li>
                                             </ul>
                                        </li>
                                    }
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <li>
                                                <button id="notedetails-log-button" onclick="location.href='@Url.Action("Logout","UserLogin")'" class="btn btn-class last-child" type="submit">Logout</button>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <button id="notedetails-log-button" onclick="location.href='@Url.Action("Login","UserLogin")'" class="btn btn-class last-child" type="submit">Login</button>
                                            </li>
                                        }
                                    </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </header>
        <div class="content-box-lg Notes-Details">
            <div class="container contu">
                <div class="NoteDetails-title">
                    <h4>Notes Details</h4>
                </div>
                    <div class="row">
                        <div class="col-md-7 book-div">
                            @{string path = ""; }
                            @if (Model.DisplayPicture != null)
                            {
                                path = "../Members/" + Model.UserID + "/" + Model.ID + "/" + "DP_" + Model.ModifiedDate?.ToString("dd-MM-yy") + ".jpg";
                            }
                            else
                            {
                                path = "../Default/1.jpg";
                            }
                            <img id="book-img" src="@path" class="img-responsive" alt="Book" height="350" width="250">
                            <div class="book-details-div">
                                <h3>@Model.NoteTitle</h3>
                                <h5>@Model.AddEditCategory.CategoryName</h5>
                                <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente aspernatur harum libero et nostrum sequi consequatur, tempore accusamus ab esse, voluptatem laudantium voluptas rerum? Laborum id ad alias saepe nemo,alias saepe ne consequatur.-->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente aspernatur harum libero et nostrum sequi consequatur, tempore accusamus ab esse, voluptatem laudantium voluptas rerum? Laborum id ad alias saepe nemo,alias saepe ne consequatur.</p>


                                @using (Html.BeginForm("NotesDownload", "Home", FormMethod.Post))
                                {
                                    @Html.HiddenFor(x => x.ID)
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        if (Model.IsPaid == false)
                                        {
                                            <button id="download-button" type="submit" class="btn btn-primary">DOWNLOAD</button>
                                            <div id="login-msg">
                                                <p>@TempData["ErrorMsg"]</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <button id="download-button" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="return confirm('Are you sure you want to download this Paid note? Please Confirm.')">DOWNLOAD / $@Model.SellingPrice_USD</button>
                                        }
                                    }
                                    else
                                    {
                                        if (Model.IsPaid.Equals(false))
                                        {
                                            <button id="download-button" type="submit" class="btn btn-primary">DOWNLOAD</button>
                                        }
                                        else
                                        {
                                            <button id="download-button" type="submit" class="btn btn-primary">DOWNLOAD / $@Model.SellingPrice_USD</button>
                                        }
                                    }

                                }

                            </div>
                        </div>

                        <div class="col-md-5 book-extra-details">
                            <p>Institution: <span>@Model.InstituitionName</span></p>
                            <p>Country: <span>@Model.AddEditCountry.CountryName</span></p>
                            <p>Course Name: <span>@Model.Course</span></p>
                            <p>Course Code: <span>@Model.CourseCode</span></p>
                            <p>Professor: <span>@Model.Professor</span></p>
                            <p>Number of Pages: <span>@Model.NumberOfPages</span></p>
                            <p>Approved Date: <span>November 25 2020</span></p>
                            <p>Rating: 
                                <span>
                                    <span class="score" style="float:left;">
                                        <span class="score-wrap">
                                            <span class="stars-active" style="width:@ViewBag.Rating%">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </span>
                                            <span class="stars-inactive">
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </span>
                                        </span>
                                    </span>
                                    <span style="float:right; margin-left:5px;">@ViewBag.totalreviews Reviews</span>
                                </span>
                                
                            </p>
                            
                            <p>@ViewBag.flagcount Users marked this note as inappropriate</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Notes Details Bottom Content Box-->
            <div class="content-box-lg Notes-Details-Bottom-content-box">
                <div class="container Notes-Details-Bottom">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="notes-preview-heading">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Notes Preview</h4>
                                    </div>
                                </div>
                            </div>

                            <!--Notes Preview-->
                            <div class="notes-preview">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="Iframe-Cicis-Menu-To-Go" class="set-margin-cicis-menu-to-go set-padding-cicis-menu-to-go set-border-cicis-menu-to-go set-box-shadow-cicis-menu-to-go center-block-horiz">
                                            <div class="responsive-wrapper responsive-wrapper-padding-bottom-90pct" style="-webkit-overflow-scrolling: touch; overflow: auto;">
                                                @{string previewpath = "";}
                                                @if (Model.NotesPreview != null)
                                                {
                                                    previewpath = "../Members/" + Model.UserID + "/" + Model.ID + "/" + "DP_" + Model.ModifiedDate?.ToString("dd-MM-yy") + ".pdf";
                                                }
                                                else
                                                {
                                                    previewpath = "../Default/170210107013_PRACTICAL-6.pdf";
                                                }
                                                <iframe src="@previewpath">
                                                </iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Customer Reviews-->
                        <div class="col-md-7">
                            <div class="review-heading">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Customer Reviews</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="customer-box">
                                <div class="row">
                                    <!-- Customer-01 -->
                                    <div class="col-md-1">
                                        <img src="~/Content/user/image/home/customer-1.png" class="rounded-circle" alt="Customer Image" height="50" width="50" />
                                    </div>
                                    <div class="col-md-11">
                                        <div id="customer-details">
                                            <ul>
                                                <li>
                                                    <h6>Richard Brown</h6>
                                                </li>
                                                <li>
                                                    <i class="fa fa-star" id="star"></i><i class="fa fa-star" id="star"></i><i class="fa fa-star" id="star"></i><i class="fa fa-star" id="star"></i><i class="fa fa-star-o"></i>
                                                </li>
                                                <li>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit cupiditate distinctio voluptas deleniti nobis. Non dignissimos ipsum sed earum voluptatum.</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-12 bottom-border">
                                        <div id="border"></div>
                                    </div>

                                    <!-- Customer-02 -->
                                    <div class="col-md-1">
                                        <img src="~/Content/user/image/home/customer-2.png" class="rounded-circle" alt="Customer Image" height="50" width="50" />
                                    </div>
                                    <div class="col-md-11">
                                        <div id="customer-details">
                                            <ul>
                                                <li>
                                                    <h6>Richard Harrison</h6>
                                                </li>
                                                <li>
                                                    <i class="fa fa-star" id="star"></i><i class="fa fa-star" id="star"></i><i class="fa fa-star" id="star"></i><i class="fa fa-star" id="star"></i><i class="fa fa-star-o"></i>
                                                </li>
                                                <li>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit cupiditate distinctio voluptas deleniti nobis. Non dignissimos ipsum sed earum voluptatum.</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-12 bottom-border">
                                        <div id="border"></div>
                                    </div>

                                    <!-- Customer-03 -->
                                    <div class="col-md-1">
                                        <img src="~/Content/user/image/home/customer-3.png" class="rounded-circle" alt="Customer" height="50" width="50" />
                                    </div>
                                    <div class="col-md-11">
                                        <div id="customer-details">
                                            <ul>
                                                <li>
                                                    <h6>Paula Shughart</h6>
                                                </li>
                                                <li>
                                                    <i class="fa fa-star" id="star"></i><i class="fa fa-star" id="star"></i><i class="fa fa-star" id="star"></i><i class="fa fa-star" id="star"></i><i class="fa fa-star-o"></i>
                                                </li>
                                                <li>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit cupiditate distinctio voluptas deleniti nobis. Non dignissimos ipsum sed earum voluptatum.</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-10">
                            <p>
                                Copyright &copy; Tatvasoft All Rights Reserved
                            </p>
                        </div>
                        <div class="col-md-2 text-center">
                            <ul class="social-list">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>

            <!--Modal-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="close-button" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                &times;<!--<img src="~/Content/user/image/NotesDetails/close.png" />-->
                            </button>
                            <div class="myHeader">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <img id="download-modal-icon" src="~/Content/user/image/NotesDetails/SUCCESS.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h7 class="modal-title" id="exampleModalLabel">Thank you for purchasing!</h7>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <h6 id="customer-name">Dear @ViewBag.Buyer,</h6>
                            <p>As this is paid notes - you need to pay to seller <b>@Model.User.FirstName @Model.User.LastName</b> offline. We will send him an email that you want to download this note. He may contact you further for payment process completion.</p>
                            <p>In case, you have emergency,<br>Please contact us on <b>+91 95377345959</b>.</p>
                            <p>Once he receives payment and acknoledge us - selected notes you can see over my downloads tab for download.</p>
                            <p>Have a good day.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal End-->

        }
    </section>
    <!--Jquery-->
    <script src="~/Scripts/user/jQuery-3.5.1.js"></script>
    <!--Bootstrap Js-->
    <script src="~/Scripts/user/bootstrap/bootstrap.js"></script>
    <!--script.js-->
    <script src="~/Scripts/user/script.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>


