@model Notes_MarketPlace.Models.MemberDetailsModel
@using PagedList;
@using PagedList.Mvc;
@{ int cnt = 0;}
<!DOCTYPE html>
<html lang="en">
<head>

    <!--meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--title-->
    <title>Notes - MarketPlace</title>

    <!--fav icon-->
    <link rel="shortcut icon" href="~/Content/admin/image/home/favicon.ico">

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!--bootstrap css-->
    <link rel="stylesheet" href="~/Content/admin/Bootstrap/bootstrap.css">

    <!--font awesome css-->
    <link rel="stylesheet" href="~/Content/admin/font-awesome/css/font-awesome.css">

    <!--external css-->
    <link rel="stylesheet" href="~/Content/admin/style.css">

    <!--responsive css-->
    <link rel="stylesheet" href="~/Content/admin/responsive.css">

</head>
<body>
    <section>
        <header>
            <nav id="mynav" class="nav navbar-fixed-top white-nav-top">
                <div class="container">
                    <div class="site-nav-wrapper">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="hamburger-icon">&#9776;</span>
                            </button>
                            <a class="logo" href="@Url.Action("Home","Home")"><img src="~/Content/admin/image/home/logo.png" id="notes-logo" alt="Logo" width="180"></a>
                        </div>
                        <div class="container">
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="@Url.Action("Dashboard","AdminDashboard")">Dashboard</a></li>
                                    <li class="nav-item-drop-down">
                                        <a data-toggle="dropdown">Notes</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="@Url.Action("NotesUnderReview","AdminNotes")">Notes Under Review</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("PublishedNotes","AdminNotes")">Published Notes</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("DownloadedNotes","AdminNotes")">Downloaded Notes</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("RejectedNotes","AdminNotes")">Rejected Notes</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="@Url.Action("Members","AdminMembers")">Members</a></li>
                                    <li class="nav-item-drop-down">
                                        <a data-toggle="dropdown">Reports</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="@Url.Action("SpamReports","AdminReports")">Spam Reports</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item-drop-down">
                                        <a data-toggle="dropdown">Settings</a>
                                        <ul id="simplehover" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="@Url.Action("ManageSystemConfiguration","AdminSettings")">Manage System Configuration</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("ManageAdministrator","AdminSettings")">Manage Administrator</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("ManageCategory","AdminSettings")">Manage Category</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("ManageType","AdminSettings")">Manage Type</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("ManageCountry","AdminSettings")">Manage Country</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item-drop-down">
                                        <a style="padding-top: 0px; padding-bottom: 0px;" data-toggle="dropdown"><img class="navbar-user-photo" src="../../@ViewBag.pic" /></a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="@Url.Action("MyProfile","AdminProfile")">Update Profile</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("ChangePassword","UserLogin")">Change Password</a></li>
                                            <li><a class="dropdown-item logout-special" onclick="if(confirm('Are you sure, you want to logout?')) location.href='@Url.Action("Logout","AdminProfile")'">LOGOUT</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <button onclick="if(confirm('Are you sure, you want to logout?')) location.href = '@Url.Action("Logout","AdminProfile")'" class="btn btn-class last-child" type="submit">Logout</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="content-box-lg member-details-content-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            <h4>Members Details</h4>
                        </div>
                    </div>

                    <div class="col-md-2 member-img">

                        <img src="../../@Model.Profile.ProfilePicture" class="img-thumbnail" alt="Member-Details" height="125" width="125" />
                    </div>

                    <div class="col-md-5 brdr">
                        <table id="member-details-left">
                            <tr>
                                <td>First Name:</td>
                                <td>@Model.User.FirstName</td>
                            </tr>

                            <tr>
                                <td>Last Name:</td>
                                <td>@Model.User.LastName</td>
                            </tr>

                            <tr>
                                <td>Email:</td>
                                <td>@Model.User.EmailID</td>
                            </tr>

                            <tr>
                                <td>DOB:</td>
                                <td>@Model.Profile.DateOfBirth.Value.ToShortDateString()</td>
                            </tr>

                            <tr>
                                <td>Phone Number:</td>
                                <td>@Model.Profile.PhoneNumber</td>
                            </tr>

                            <tr>
                                <td>College/University:</td>
                                <td>@Model.Profile.University</td>
                            </tr>

                        </table>
                    </div>

                    <div class="col-md-5">
                        <table id="member-details-right">
                            <tr>
                                <td>Address-1:</td>
                                <td>@Model.Profile.AddressLine_1</td>
                            </tr>

                            <tr>
                                <td>Address-2:</td>
                                <td>@Model.Profile.AddressLine_2</td>
                            </tr>

                            <tr>
                                <td>City:</td>
                                <td>@Model.Profile.City</td>
                            </tr>

                            <tr>
                                <td>State:</td>
                                <td>@Model.Profile.State</td>
                            </tr>

                            <tr>
                                <td>Country:</td>
                                <td>@Model.Profile.AddEditCountry.CountryName</td>
                            </tr>

                            <tr>
                                <td>Zip Code:</td>
                                <td>@Model.Profile.ZipCode</td>
                            </tr>

                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="container line-container">
            <div class="row">
                <div class="col-md-12">
                    <hr size="1" width="100%" color="#d1d1d1">
                </div>
            </div>
        </div>
        <div class="content-box-lg member-details-content-box-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Notes</p>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="table-responsive" id="dashboard-table">
                            <table class="table MemberDetails-table">
                                @if (Model.Note.Count == 0)
                                {
                                    <tr>
                                        <th scope="col"><h4 style="font-family:Open Sans;font-size:18px;color:#333333">No Records Found</h4></th>
                                    </tr>
                                }
                                else
                                {
                                    <thead>
                                        <tr>
                                            <th class="about-item text-center" scope="col">SR NO.</th>
                                            <th scope="col">@Html.ActionLink("NOTE TITLE", "MemberDetails", new { sortBy = ViewBag.SortTitle, search = Request.QueryString["search"] })</th>
                                            <th scope="col">@Html.ActionLink("CATEGORY", "MemberDetails", new { sortBy = ViewBag.SortCategory, search = Request.QueryString["search"] })</th>
                                            <th scope="col">STATUS</th>
                                            <th class="about-item text-center" scope="col">DOWNLOADED NOTES</th>
                                            <th class="about-item text-center" scope="col">TOTAL EARNINGS</th>
                                            <th scope="col">@Html.ActionLink("ADDED DATE", "MemberDetails", new { sortBy = ViewBag.SortDate, search = Request.QueryString["search"] })</th>
                                            <th scope="col">@Html.ActionLink("PUBLISHED DATE", "MemberDetails", new { sortBy = ViewBag.SortPublishedDate, search = Request.QueryString["search"] })</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Note)
                                        {
                                            cnt = cnt + 1;
                                            <tr>
                                                <td scope="row">@cnt</td>
                                                <td class="row-color"><a href="@Url.Action("ViewNotes","AdminNotes",new { id=item.ID})" style="text-decoration:none;color:#6255a5;">@item.NoteTitle</a></td>
                                                <td>@item.AddEditCategory.CategoryName</td>
                                                <td>@item.StatusTable.StatusName</td>
                                                <td class="about-item text-center"><a href="@Url.Action("DownloadedNotes","AdminNotes")" style="text-decoration:none;color:#6255a5;">@item.DownloadedNotes.Where(x => x.NoteID == item.ID && x.Seller == item.UserID && x.IsAttachmentDownloaded == true).Count()</a></td>
                                                <td class="about-item text-center">@item.DownloadedNotes.Where(x => x.NoteID == item.ID && x.Seller == item.UserID && x.HasSellerAllowedDownload == true).Sum(x => x.PurchasedPrice)</td>
                                                <td>@item.CreatedDate</td>
                                                <td>@item.ModifiedDate</td>
                                                <td class="dropdown">
                                                    <div class="dropdown">
                                                        <i class="fa fa-ellipsis-v dropbtn" id="ellipsis"></i>
                                                        <div class="dropdown-content">
                                                            <a href="@Url.Action("NotesDownload","AdminNotes",new { id = item.ID})">Download Note</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <div class="content-box-md downloads-pagination">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center pagination">
                        @Html.PagedListPager(Model.Note, i => Url.Action("MemberDetails", "AdminMembers", new { i }))
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                        <div class="footer-text-1">
                            <p>
                                Version: 1.1.24
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                        <div class="footer-text-2">
                            <p>
                                Copyright &copy; Tatvasoft All Rights Reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <!--Jquery-->
    <script src="~/Scripts/admin/jQuery-3.5.1.js"></script>
    <!--Bootstrap Js-->
    <script src="~/Scripts/admin/bootstrap/bootstrap.js"></script>
    <!--script.js-->
    <script src="~/Scripts/admin/script.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>
