@model IPagedList<Notes_MarketPlace.Context.NoteDetail>
@using PagedList.Mvc;
@using PagedList;
@{ int cnt = 0;}
<!DOCTYPE html>
<html lang="en">
<head>

    <!--meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--title-->
    <title>Notes - MarketPlace</title>

    <!--fav icon-->
    <link rel="shortcut icon" href="~/Content/admin/image/home/favicon.ico">

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!--bootstrap css-->
    <link rel="stylesheet" href="~/Content/admin/Bootstrap/bootstrap.css">

    <!--font awesome css-->
    <link rel="stylesheet" href="~/Content/admin/font-awesome/css/font-awesome.css">

    <!--external css-->
    <link rel="stylesheet" href="~/Content/admin/style.css">

    <!--responsive css-->
    <link rel="stylesheet" href="~/Content/admin/responsive.css">

</head>
<body>
    <section>
        <header>
            <nav id="mynav" class="nav navbar-fixed-top white-nav-top">
                <div class="container">
                    <div class="site-nav-wrapper">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="hamburger-icon">&#9776;</span>
                            </button>
                            <a class="logo" href="@Url.Action("Home","Home")"><img src="~/Content/admin/image/home/logo.png" id="notes-logo" alt="Logo" width="180"></a>
                        </div>
                        <div class="container">
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="@Url.Action("Dashboard","AdminDashboard")">Dashboard</a></li>
                                    <li class="nav-item-drop-down">
                                        <a data-toggle="dropdown">Notes</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="@Url.Action("NotesUnderReview","AdminNotes")">Notes Under Review</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("PublishedNotes","AdminNotes")">Published Notes</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("DownloadedNotes","AdminNotes")">Downloaded Notes</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("RejectedNotes","AdminNotes")">Rejected Notes</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="@Url.Action("Members","AdminMembers")">Members</a></li>
                                    <li class="nav-item-drop-down">
                                        <a data-toggle="dropdown">Reports</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="@Url.Action("SpamReports","AdminReports")">Spam Reports</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item-drop-down">
                                        <a data-toggle="dropdown">Settings</a>
                                        <ul id="simplehover" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="@Url.Action("ManageSystemConfiguration","AdminSettings")">Manage System Configuration</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("ManageAdministrator","AdminSettings")">Manage Administrator</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("ManageCategory","AdminSettings")">Manage Category</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("ManageType","AdminSettings")">Manage Type</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("ManageCountry","AdminSettings")">Manage Country</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item-drop-down">
                                        <a style="padding-top: 0px; padding-bottom: 0px;" data-toggle="dropdown"><img class="navbar-user-photo" src="../@ViewBag.pic" /></a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="@Url.Action("MyProfile","AdminProfile")">Update Profile</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("ChangePassword","UserLogin")">Change Password</a></li>
                                            <li><a class="dropdown-item logout-special" onclick="if(confirm('Are you sure, you want to logout?')) location.href='@Url.Action("Logout","AdminProfile")'">LOGOUT</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <button onclick="if(confirm('Are you sure, you want to logout?')) location.href = '@Url.Action("Logout","AdminProfile")'" class="btn btn-class last-child" type="submit">Logout</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="content-box-lg dashboard-content-box-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="dashboard-heading-left">
                            <h4>Dashboard</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="dashboard-details text-center">
                            <a href="@Url.Action("NotesUnderReview","AdminNotes")" style="text-decoration:none;"><p class="figure">@ViewBag.NURcount</p></a>
                            <p class="details">Number of Notes in Review for Publish</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="dashboard-details text-center">
                            <a href="@Url.Action("DownloadedNotes","AdminNotes")" style="text-decoration:none;"><p class="figure">@ViewBag.downloadscount</p></a>
                            <p class="details">Number of New Notes Downloaded<br>(Last 7 days)</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="dashboard-details text-center">
                            <a href="@Url.Action("Members","AdminMembers")" style="text-decoration:none;"><p class="figure">@ViewBag.usercount</p></a>
                            <p class="details">Number of New Registrations (Last 7 days)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="content-box-lg dashboard-content-box-2">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div id="dashboard-heading-left">
                            <h4>Published Notes</h4>
                        </div>
                        @using (Html.BeginForm("Dashboard", "AdminDashboard", FormMethod.Get))
                        {
                            <div id="dashboard-heading-right">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input name="Search" id="special-search" type="search" class="form-control search-field" placeholder="Search">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <button id="search-button-dash" class="btn smooth-scroll" type="submit" title="Search">SEARCH</button>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.DropDownList("Month", ViewBag.Month as SelectList, "Select month", new { @class = "form-control", @id = "special-select", onchange = "this.form.submit()" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="table-responsive" id="dashboard-table">
                            <table class="table">
                                @if (Model.Count == 0)
                                {
                                    <tr>
                                        <th scope="col"><h4 style="font-family:Open Sans;font-size:18px;color:#333333">No Records Found</h4></th>
                                    </tr>
                                }
                                else
                                {
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">SR NO.</th>
                                            <th scope="col">TITLE</th>
                                            <th scope="col">CATEGORY</th>
                                            <th scope="col">ATTACHMENT SIZE</th>
                                            <th scope="col">SELL TYPE</th>
                                            <th scope="col">PRICE</th>
                                            <th scope="col">PUBLISHER</th>
                                            <th scope="col">PUBLISHED DATE</th>
                                            <th scope="col" class="text-center">NUMBER OF DOWNLOADS</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            cnt = cnt + 1;
                                            <tr>
                                                <td class="about-item text-center" scope="row">@cnt</td>
                                                <td style="color: #6255a5">@item.NoteTitle</td>
                                                <td>@item.AddEditCategory.CategoryName</td>
                                                @{
                                                    DirectoryInfo info = new DirectoryInfo(Server.MapPath("~/Members/" + item.UserID + "/" + item.ID + "/Attachment"));
                                                    long totalSize = info.EnumerateFiles().Sum(file => file.Length);
                                                    totalSize = (long)totalSize / 1024;
                                                    string filesize = totalSize + " KB";
                                                    if (totalSize >= 1024)
                                                    {
                                                        totalSize = (long)totalSize / 1024;
                                                        filesize = totalSize + " MB";
                                                    }
                                                }
                                                <td>@filesize</td>
                                                @if (item.IsPaid == false)
                                                {
                                                    <td>Free</td>
                                                }
                                                else
                                                {
                                                    <td>Paid</td>
                                                }
                                                <td>$@item.SellingPrice_USD</td>
                                                <td>@item.User.FirstName @item.User.LastName</td>
                                                <td>@item.ModifiedDate</td>
                                                <td class="about-item text-center">@item.DownloadedNotes.Where(x => x.NoteID == item.ID && x.HasSellerAllowedDownload == true).Count()</td>
                                                <td class="dropdown">
                                                    <i class="fa fa-ellipsis-v dropbtn" id="ellipsis"></i>
                                                    <div class="dropdown">
                                                        <div class="dropdown-content">
                                                            <a href="@Url.Action("DownloadNotes","AdminNotes",new { id = item.ID})">Download Note</a>
                                                            <a href="@Url.Action("ViewNotes","AdminNotes",new { id = item.ID})">View More Details</a>
                                                            <a href="@Url.Action("RemoveNotes","AdminNotes",new { id = item.ID})">Unpublish</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="content-box-md downloads-pagination">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center pagination">
                        @Html.PagedListPager(Model, i => Url.Action("Dashboard", "AdminDashboard", new { i, search = Request.QueryString["search"] }))
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                        <div class="footer-text-1">
                            <p>
                                Version: 1.1.24
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                        <div class="footer-text-2">
                            <p>
                                Copyright &copy; Tatvasoft All Rights Reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <!--Jquery-->
    <script src="~/Scripts/admin/jQuery-3.5.1.js"></script>
    <!--Bootstrap Js-->
    <script src="~/Scripts/admin/bootstrap/bootstrap.js"></script>
    <!--script.js-->
    <script src="~/Scripts/admin/script.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>
