<!DOCTYPE html>
<html lang="en">
<head>

    <!--meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no">

    <!--title-->
    <title>Notes - MarketPlace</title>

    <!--fav icon-->
    <link rel="shortcut icon" href="~/Content/user/image/home/favicon.ico">

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!--bootstrap css-->
    <link rel="stylesheet" href="~/Content/user/Bootstrap/bootstrap.css">

    <!--font awesome css-->
    <link rel="stylesheet" href="~/Content/user/font-awesome/css/font-awesome.css">

    <!--external css-->
    <link rel="stylesheet" href="~/Content/user/css/Dashboard.css">

    <!--responsive css-->
    <link rel="stylesheet" href="~/Content/user/css/responsive.css">
    
    <!--Validation-->
    <style>
        .error{
            font-family: Open Sans;
            font-size: 13px;
            color: red;
        }
    </style>
</head>
<body>
    <section>
        <header>
            <nav id="mynav" class="nav navbar-fixed-top white-nav-top">
                <div class="container">
                    <div class="site-nav-wrapper">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="hamburger-icon">&#9776;</span>
                            </button>
                            <a class="logo" href="@Url.Action("Home","Home")"><img src="~/Content/user/image/home/logo.png" id="notes-logo" alt="Logo" width="180px"></a>
                        </div>
                        <div class="container">
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="@Url.Action("SearchNotes","Home")">Search Notes</a></li>
                                    <li><a href="@Url.Action("Dashboard","Home")">Sell Your Notes</a></li>
                                    <li><a href="@Url.Action("BuyerRequests","Home")">Buyer Requests</a></li>
                                    <li><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
                                    <li><a href="@Url.Action("ContactUs","Home")">Contact Us</a></li>
                                    <li class="nav-item-drop-down">
                                         <a style="padding-top: 0px; padding-bottom: 0px;" data-toggle="dropdown"><img class="navbar-user-photo" src="../@ViewBag.pic"/></a>
                                         <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                             <li><a class="dropdown-item" href="@Url.Action("UserProfile","Profile")" style="padding-top:10px;padding-bottom:10px;padding-left:7px;Open Sans;font-size:14px;color:#6255a5;">My Profile</a></li>
                                             <li><a class="dropdown-item" href="@Url.Action("MyDownloads","Profile")" style="padding-top: 10px;padding-bottom:10px; padding-left: 7px; font-family: Open Sans; font-size: 14px; color: #6255a5;">My Downloads</a></li>
                                             <li><a class="dropdown-item" href="@Url.Action("MySoldNotes","Profile")" style="padding-top: 10px;padding-bottom:10px; padding-left: 7px; font-family: Open Sans; font-size: 14px; color: #6255a5;">My Sold Notes</a></li>
                                             <li><a class="dropdown-item" href="@Url.Action("MyRejectedNotes","Profile")" style="padding-top: 10px;padding-bottom:10px; padding-left: 7px; font-family: Open Sans; font-size: 14px; color: #6255a5;">My Rejected Notes</a></li>
                                             <li><a class="dropdown-item" href="@Url.Action("ChangePassword","UserLogin")" style="padding-top: 10px;padding-bottom:10px; padding-left: 7px; font-family: Open Sans; font-size: 14px; color: #6255a5;">Change Password</a></li>
                                             <li><a class="dropdown-item row-color" href="@Url.Action("Logout","UserLogin")" style="padding-top: 10px; padding-bottom:10px;padding-left: 7px; font-family: Open Sans; font-size: 14px; color: #6255a5;">Logout</a></li>
                                         </ul>
                                    </li>
                                    <li>
                                        <button href="@Url.Action("Logout","UserLogin")" class="btn btn-class last-child" type="submit">Logout</button>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </header>
        <div class="content-box-lg downloads-content-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="dashboard-heading-left">
                            <h4>My Rejected Notes</h4>
                        </div>
                        <div id="dashboard-heading-right">
                            <div class="form-group" id="dashboard-search-left">

                                <input id="search-button" type="search" class="form-control search-field" placeholder="Search">
                            </div>
                            <div id="dashboard-search-right">
                                <a class="btn  btn-class smooth-scroll" role="button" href="#" title="Search">SEARCH</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="table-responsive-md" id="dashboard-table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="about-item text-center" scope="col">SR NO.</th>
                                        <th scope="col">NOTE TITLE</th>
                                        <th scope="col">CATEGORY</th>
                                        <th scope="col">REMARKS</th>
                                        <th scope="col">CLONE</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="about-item text-center" scope="row">1</td>
                                        <td style="color: #6255a5">Data Science</td>
                                        <td>Science</td>
                                        <td>Lorem Ipsum is simply dummy text</td>
                                        <td>Clone</td>
                                        <td>
                                            <div id="dashboard-buttons">
                                                <div class="dropdown">
                                                    <i onclick="myrejectednotesDropdown(1)" class="fa fa-ellipsis-v dropbtn" id="ellipsis"></i>
                                                    <div id="myDropdown_1" class="dropdown-content">
                                                        <a href="#">Download Note</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="about-item text-center" scope="row">2</td>

                                        <td style="color: #6255a5">Accounts</td>
                                        <td>Commerce</td>
                                        <td>Lorem Ipsum is simply dummy text</td>
                                        <td>Clone</td>
                                        <td>
                                            <div id="dashboard-buttons">
                                                <div class="dropdown">
                                                    <i onclick="myrejectednotesDropdown(2)" class="fa fa-ellipsis-v dropbtn" id="ellipsis"></i>
                                                    <div id="myDropdown_2" class="dropdown-content">
                                                        <a href="#">Download Note</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td><td></td>
                                    </tr>
                                    <tr>
                                        <td class="about-item text-center" scope="row">3</td>

                                        <td style="color: #6255a5">Social Studies</td>
                                        <td>Social</td>
                                        <td>Lorem Ipsum is simply dummy text</td>
                                        <td>Clone</td>
                                        <td>
                                            <div id="dashboard-buttons">
                                                <div class="dropdown">
                                                    <i onclick="myrejectednotesDropdown(3)" class="fa fa-ellipsis-v dropbtn" id="ellipsis"></i>
                                                    <div id="myDropdown_3" class="dropdown-content">
                                                        <a href="#">Download Note</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td><td></td>
                                    </tr>
                                    <tr>
                                        <td class="about-item text-center" scope="row">4</td>

                                        <td style="color: #6255a5">AI</td>
                                        <td>IT</td>
                                        <td>Lorem Ipsum is simply dummy text</td>
                                        <td>Clone</td>
                                        <td>
                                            <div id="dashboard-buttons">
                                                <div class="dropdown">
                                                    <i onclick="myrejectednotesDropdown(4)" class="fa fa-ellipsis-v dropbtn" id="ellipsis"></i>
                                                    <div id="myDropdown_4" class="dropdown-content">
                                                        <a href="#">Download Note</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td><td></td>
                                    </tr>
                                    <tr>
                                        <td class="about-item text-center" scope="row">5</td>

                                        <td style="color: #6255a5">Lorem ipsum</td>
                                        <td>Lorem</td>
                                        <td>Lorem Ipsum is simply dummy text</td>
                                        <td>Clone</td>
                                        <td>
                                            <div id="dashboard-buttons">
                                                <div class="dropdown">
                                                    <i onclick="myrejectednotesDropdown(5)" class="fa fa-ellipsis-v dropbtn" id="ellipsis"></i>
                                                    <div id="myDropdown_5" class="dropdown-content">
                                                        <a href="#">Download Note</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td><td></td>
                                    </tr>
                                    <tr>
                                        <td class="about-item text-center" scope="row">6</td>

                                        <td style="color: #6255a5">Data Science</td>
                                        <td>Science</td>
                                        <td>Lorem Ipsum is simply dummy text</td>
                                        <td>Clone</td>
                                        <td>
                                            <div id="dashboard-buttons">
                                                <div class="dropdown">
                                                    <i onclick="myrejectednotesDropdown(6)" class="fa fa-ellipsis-v dropbtn" id="ellipsis"></i>
                                                    <div id="myDropdown_6" class="dropdown-content">
                                                        <a href="#">Download Note</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td><td></td>
                                    </tr>
                                    <tr>
                                        <td class="about-item text-center" scope="row">7</td>

                                        <td style="color: #6255a5">Accounts</td>
                                        <td>Commerce</td>
                                        <td>Lorem Ipsum is simply dummy text</td>
                                        <td>Clone</td>
                                        <td>
                                            <div id="dashboard-buttons">
                                                <div class="dropdown">
                                                    <i onclick="myrejectednotesDropdown(7)" class="fa fa-ellipsis-v dropbtn" id="ellipsis"></i>
                                                    <div id="myDropdown_7" class="dropdown-content">
                                                        <a href="#">Download Note</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td><td></td>
                                    </tr>
                                    <tr>
                                        <td class="about-item text-center" scope="row">8</td>

                                        <td style="color: #6255a5">Social Studies</td>
                                        <td>Social</td>
                                        <td>Lorem Ipsum is simply dummy text</td>
                                        <td>Clone</td>
                                        <td>
                                            <div id="dashboard-buttons">
                                                <div class="dropdown">
                                                    <i onclick="myrejectednotesDropdown(8)" class="fa fa-ellipsis-v dropbtn" id="ellipsis"></i>
                                                    <div id="myDropdown_8" class="dropdown-content">
                                                        <a href="#">Download Note</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td><td></td>
                                    </tr>
                                    <tr>
                                        <td class="about-item text-center" scope="row">9</td>

                                        <td style="color: #6255a5">AI</td>
                                        <td>IT</td>
                                        <td>Lorem Ipsum is simply dummy text</td>
                                        <td>Clone</td>
                                        <td>
                                            <div id="dashboard-buttons">
                                                <div class="dropdown">
                                                    <i onclick="myrejectednotesDropdown(9)" class="fa fa-ellipsis-v dropbtn" id="ellipsis"></i>
                                                    <div id="myDropdown_9" class="dropdown-content">
                                                        <a href="#">Download Note</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td><td></td>
                                    </tr>
                                    <tr>
                                        <td class="about-item text-center" scope="row">10</td>

                                        <td style="color: #6255a5">Lorem ipsum</td>
                                        <td>Lorem</td>
                                        <td>Lorem Ipsum is simply dummy text</td>
                                        <td>Clone</td>
                                        <td>
                                            <div id="dashboard-buttons">
                                                <div class="dropdown">
                                                    <i onclick="myrejectednotesDropdown(10)" class="fa fa-ellipsis-v dropbtn" id="ellipsis"></i>
                                                    <div id="myDropdown_10" class="dropdown-content">
                                                        <a href="#">Download Note</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td><td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="content-box-md downloads-pagination">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="pagination">
                            <a href="#"><i class="fa fa-angle-left"></i></a>
                            <a href="#" class="active">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            Copyright &copy; Tatvasoft All Rights Reserved
                        </p>
                    </div>
                    <div class="col-md-2 text-center">
                        <ul class="social-list">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </footer>
    </section>
    <!--Jquery-->
    <script src="~/Scripts/user/jQuery-3.5.1.js"></script>
    <!--Bootstrap Js-->
    <script src="~/Scripts/user/bootstrap/bootstrap.js"></script>
    <!--script.js-->
    <script src="~/Scripts/user/script.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>
