@model IPagedList<Notes_MarketPlace.Context.DownloadedNote>
@using PagedList.Mvc;
@using PagedList;
@{ int cnt = 0;}
<!DOCTYPE html>
<html lang="en">
<head>

    <!--meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no">

    <!--title-->
    <title>Notes - MarketPlace</title>
    <!--fav icon-->
    <link rel="shortcut icon" href="~/Content/user/image/home/favicon.ico">

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!--bootstrap css-->
    <link rel="stylesheet" href="~/Content/user/Bootstrap/bootstrap.css">

    <!--font awesome css-->
    <link rel="stylesheet" href="~/Content/user/font-awesome/css/font-awesome.css">

    <!--external css-->
    <link rel="stylesheet" href="~/Content/user/css/Dashboard.css">

    <!--responsive css-->
    <link rel="stylesheet" href="~/Content/user/css/responsive.css">

    <!--Validation-->
    <style>
        .error {
            font-family: Open Sans;
            font-size: 13px;
            color: red;
        }
    </style>

</head>
<body>
    <section>
        <header>
            <nav id="mynav" class="nav navbar-fixed-top white-nav-top">
                <div class="container">
                    <div class="site-nav-wrapper">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="hamburger-icon">&#9776;</span>
                            </button>
                            <a class="logo" href="#"><img src="~/Content/user/image/home/logo.png" id="notes-logo" alt="Logo" width="180px"></a>
                        </div>
                        <div class="container">
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="@Url.Action("SearchNotes","Home")">Search Notes</a></li>
                                    <li><a href="@Url.Action("Dashboard","Home")">Sell Your Notes</a></li>
                                    <li><a href="@Url.Action("BuyerRequests","Home")">Buyer Requests</a></li>
                                    <li><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
                                    <li><a href="@Url.Action("ContactUs","Home")">Contact Us</a></li>
                                    <li class="nav-item-drop-down">
                                        <a style="padding-top: 0px; padding-bottom: 0px;" data-toggle="dropdown"><img class="navbar-user-photo" src="../@ViewBag.pic" /></a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="@Url.Action("UserProfile","Profile")">My Profile</a></li>
                                                 <li><a class="dropdown-item" href="@Url.Action("MyDownloads","Profile")">My Downloads</a></li>
                                                 <li><a class="dropdown-item" href="@Url.Action("MySoldNotes","Profile")">My Sold Notes</a></li>
                                                 <li><a class="dropdown-item" href="@Url.Action("MyRejectedNotes","Profile")">My Rejected Notes</a></li>
                                                 <li><a class="dropdown-item" href="@Url.Action("ChangePassword","UserLogin")">Change Password</a></li>
                                                 <li><a class="dropdown-item row-color" onclick="return confirm('Are you sure, you want to logout?')" href="@Url.Action("Logout","UserLogin")">LOGOUT</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <button onclick="if(confirm('Are you sure, you want to logout?')) location.href ='@Url.Action("Logout","UserLogin")'" class="btn btn-class last-child" type="submit">Logout</button>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </header>
        <div class="content-box-lg downloads-content-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="dashboard-heading-left">
                            <h4>My Sold Notes</h4>
                        </div>
                        @using (Html.BeginForm("MySoldNotes", "Profile", FormMethod.Get))
                        {
                            <div id="dashboard-heading-right">
                                <div class="form-group" id="dashboard-search-left">
                                    <input name="Search" id="search-button" type="search" class="form-control search-field" placeholder="Search">
                                </div>
                                <div id="dashboard-search-right">
                                    <button class="btn btn-class smooth-scroll" type="submit" title="Search">SEARCH</button>
                                </div>
                            </div>
                        }
                        </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="table-responsive" id="dashboard-table">
                            <table class="table">
                                @if (Model.Count() == 0)
                                {
                                    <tr>
                                        <th scope="col"><h4 style="font-family:Open Sans;font-size:18px;color:#333333">No Records Found</h4></th>
                                    </tr>
                                }
                                else
                                {
                                    <thead>
                                        <tr>
                                            <th class="about-item text-center" scope="col">SR NO.</th>
                                            <th scope="col">@Html.ActionLink("NOTE TITLE", "MySoldNotes", new { sortBy = ViewBag.SortTitle, search = Request.QueryString["search"] })
                                            <th scope="col">@Html.ActionLink("CATEGORY", "MySoldNotes", new { sortBy = ViewBag.SortCategory, search = Request.QueryString["search"] })</th>
                                            <th scope="col">@Html.ActionLink("BUYER", "MySoldNotes", new { sortBy = ViewBag.SortBuyer, search = Request.QueryString["search"] })</th>
                                            <th scope="col">SELL TYPE</th>
                                            <th scope="col">PRICE</th>
                                            <th scope="col">@Html.ActionLink("DOWNLOADED DATE/TIME", "MySoldNotes", new { sortBy = ViewBag.SortDate, search = Request.QueryString["search"] })</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.HasSellerAllowedDownload == true)
                                            {
                                                cnt = cnt + 1;
                                                <tr>
                                                    <td class="about-item text-center" scope="row">@cnt</td>
                                                    <td style="color: #6255a5">@item.NoteTitle</td>
                                                    <td>@item.Category</td>
                                                    <td>@item.User.EmailID</td>
                                                    @if (item.IsPaid == false)// true == 1   false == 0
                                                    {
                                                        <td>Free</td>
                                                    }
                                                    else
                                                    {
                                                        <td>Paid</td>
                                                    }
                                                    <td>@item.PurchasedPrice</td>
                                                    @if (item.IsAttachmentDownloaded == false)// true == 1   false == 0
                                                    {
                                                        <td>Not Downloaded</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@item.AttachmentDownloadedDate</td>
                                                    }
                                                    <td><a href="@Url.Action("NoteDetails", "Home", new { id = item.NoteID })"><img src="~/Content/user/image/Dashboard/eye.png" alt="eye" /></a></td>
                                                    <td class="dropdown">
                                                        <div class="dropdown">
                                                            <i class="fa fa-ellipsis-v dropbtn" id="ellipsis"></i>
                                                            <div class="dropdown-content">
                                                                <a href="@Url.Action("DownloadNotes", "Profile", new { id = item.ID })">Download Note</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <th scope="col"><h4 style="font-family:Open Sans;font-size:18px;color:#333333">No Records Found</h4></th>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-box-md downloads-pagination">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center pagination">
                        @Html.PagedListPager(Model, i => Url.Action("MySoldNotes", "Profile", new { i, search = Request.QueryString["search"] }))
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            Copyright &copy; Tatvasoft All Rights Reserved
                        </p>
                    </div>
                    <div class="col-md-2 text-center">
                        <ul class="social-list">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </footer>
    </section>
    <!--Jquery-->
    <script src="~/Scripts/user/jQuery-3.5.1.js"></script>
    <!--Bootstrap Js-->
    <script src="~/Scripts/user/bootstrap/bootstrap.js"></script>
    <!--script.js-->
    <script src="~/Scripts/user/script.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                    return true;
            }
            $("#search-button").keyup(function () {
                var searchText = $("#search-button").val().toLowerCase();
                $(".search-button").each(function () {
                    if (!Contains($(this).text().toLowerCase(), searchText)) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });
        });
    </script>

</body>
</html>
