@model Notes_MarketPlace.Models.UserProfileModel
<!DOCTYPE html>
<html lang="en">
<head>

    <!--meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no">

    <!--title-->
    <title>Notes - MarketPlace</title>

    <!--font awesome css-->
    <link rel="stylesheet" href="~/Content/user/font-awesome/css/font-awesome.css">

    <!--fav icon-->
    <link rel="shortcut icon" href="~/Content/user/image/home/favicon.ico">

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!--bootstrap css-->
    <link rel="stylesheet" href="~/Content/user/Bootstrap/bootstrap.css">

    <!--external css-->
    <link rel="stylesheet" href="~/Content/user/css/UserProfile.css">

    <!--responsive css-->
    <link rel="stylesheet" href="~/Content/user/css/responsive.css">

    <!--Validation-->
    <style>
        .error {
            font-family: Open Sans;
            font-size: 13px;
            color: red;
        }
    </style>

</head>
<body>
    <section>
        <header>
            <nav id="mynav" class="nav navbar-fixed-top white-nav-top">
                <div class="container">
                    <div class="site-nav-wrapper">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="hamburger-icon">&#9776;</span>
                            </button>
                            <a class="logo"><img src="~/Content/user/image/home/logo.png" id="notes-logo" alt="Logo" width="180"></a>
                        </div>
                        <div class="container">
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav navbar-right ml-auto">
                                    <li><a href="@Url.Action("SearchNotes","Home")"> Search Notes </a></li>
                                    <li><a href="@Url.Action("Dashboard","Home")"> Sell Your Notes </a></li>
                                    <li><a href="@Url.Action("BuyerRequests","Home")"> Buyer Requests </a></li>
                                    <li><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
                                    <li><a href="@Url.Action("ContactUs","Home")"> Contact Us </a></li>
                                    <li class="nav-item-drop-down">
                                        <a style="padding-top: 0px; padding-bottom: 0px;" data-toggle="dropdown"><img class="navbar-user-photo" src="../@ViewBag.pic" /></a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="@Url.Action("UserProfile","Profile")" style="padding-top:10px;padding-bottom:10px;padding-left:7px;Open Sans;font-size:14px;color:#6255a5;">My Profile</a></li>
                                                 <li><a class="dropdown-item" href="@Url.Action("MyDownloads","Profile")" style="padding-top: 10px;padding-bottom:10px; padding-left: 7px; font-family: Open Sans; font-size: 14px; color: #6255a5;">My Downloads</a></li>
                                                 <li><a class="dropdown-item" href="@Url.Action("MySoldNotes","Profile")" style="padding-top: 10px;padding-bottom:10px; padding-left: 7px; font-family: Open Sans; font-size: 14px; color: #6255a5;">My Sold Notes</a></li>
                                                 <li><a class="dropdown-item" href="@Url.Action("MyRejectedNotes","Profile")" style="padding-top: 10px;padding-bottom:10px; padding-left: 7px; font-family: Open Sans; font-size: 14px; color: #6255a5;">My Rejected Notes</a></li>
                                                 <li><a class="dropdown-item" href="@Url.Action("ChangePassword","UserLogin")" style="padding-top: 10px;padding-bottom:10px; padding-left: 7px; font-family: Open Sans; font-size: 14px; color: #6255a5;">Change Password</a></li>
                                                 <li><a class="dropdown-item row-color" href="@Url.Action("Logout","UserLogin")" style="padding-top: 10px; padding-bottom:10px;padding-left: 7px; font-family: Open Sans; font-size: 14px; color: #6255a5;">Logout</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <button id="logout-btn" onclick="location.href='@Url.Action("Logout","UserLogin")'" class="btn btn-class last-child" type="submit">Logout</button>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </header>
        <div id="statement-div">
            <div class="container">
                <div id="tech-statement" class="text-center">
                    <p>User Profile</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="basic-div-user-profile">
                        @using (Html.BeginForm("UserProfile", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="user-profile-heading">
                                <h4>Basic Profile Details</h4>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @Html.HiddenFor(x => x.ID)
                                    <label class="label-class" for="formGroupExampleInput2">First Name *</label>
                                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder = "Enter your first name" })
                                    @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "error" })

                                </div>
                                <div class="form-group col-md-6">
                                    <label class="label-class" for="formGroupExampleInput2">Last Name *</label>
                                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @placeholder = "Enter your last name" })
                                    @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "error" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="label-class" for="formGroupExampleInput2">Email *</label>
                                    @Html.TextBoxFor(x => x.EmailID, new { @class = "form-control", @placeholder = "Enter your email address"})
                                    @Html.ValidationMessageFor(x => x.EmailID, "", new { @class = "error" })
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="label-class" for="formGroupExampleInput2">Date Of Birth</label>
                                    @Html.TextBoxFor(x => x.DateOfBirth, "{0:yyyy-MM-dd}" ,new { @type="date", @class = "form-control", @placeholder = "Enter your date of birth", @id = "dob" })
                                    @Html.ValidationMessageFor(x => x.DateOfBirth, "", new { @class = "error" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="label-class" for="exampleFormControlSelect1">Gender</label>
                                    @Html.DropDownListFor(x => x.Gender, new SelectList(ViewBag.list), "Select your gender", new { @class="form-control", @id="special-select"})
                                    <!--
                                        <select id="special-select" class="form-control form-control-lg">
                                            <option selected>Select your gender</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                            <option>Other</option>
                                        </select>
                                    -->
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="phone-number" class="label-class">Phone Number *</label>
                                        </div>

                                        <div class="col-md-3 col-sm-3">
                                            <div class="form-group">
                                                @Html.DropDownListFor(x => x.PhoneNumber_CountryCode, new SelectList(ViewBag.PhoneNumber_CountryCode, "Value", "Text"), new { @class = "form-control", @id = "special-select" })
                                                <!--
                                                    <select id="special-select" class="form-control">
                                                        <option value="op-1" selected>+91</option>
                                                        <option value="op-2">+90</option>
                                                        <option value="op-3">+92</option>
                                                    </select>
                                                -->
                                            </div>
                                        </div>

                                        <div class="col-md-9 col-sm-9">
                                            <div class="form-group">
                                                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @placeholder = "Enter your phone number" })
                                                @Html.ValidationMessageFor(x => x.PhoneNumber, "", new { @class = "error" })
                                                <!--<input type="text" class="form-control label-class" aria-describedby="textHelp" placeholder="Enter your phone number" required>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group" id="form-ftext">
                                        <label for="fname" class="label-class">Profile Picture</label>
                                        @Html.TextBoxFor(x => x.ProfilePicture, new { @class = "form-control special-textarea", @onchange = "return picturevalidation()", type = "file" })
                                        <!--<textarea class="form-control" placeholder="Upload a picture"></textarea>
                                        <img src="~/Content/user/image/Userprofile/upload.png" alt="upload" />-->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="address-div-user-profile">

                                        <div class="user-profile-heading">
                                            <h4>Address Details</h4>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="label-class">Address Line 1 *</label>
                                                @Html.TextBoxFor(x => x.AddressLine_1, new { @class = "form-control", @placeholder = "Enter your address", @id="addressline1" })
                                                @Html.ValidationMessageFor(x => x.AddressLine_1, "", new { @class = "error" })
                                                
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="label-class">Address Line 2 *</label>
                                                @Html.TextBoxFor(x => x.AddressLine_2, new { @class = "form-control", @placeholder = "Enter your address", @id="addressline2" })
                                                @Html.ValidationMessageFor(x => x.AddressLine_2, "", new { @class = "error" })
                                                
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="label-class">City *</label>
                                                @Html.TextBoxFor(x => x.City, new { @class = "form-control", @placeholder = "Enter your city", @id = "inputCity" })
                                                @Html.ValidationMessageFor(x => x.City, "", new { @class = "error" })
                                                
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="label-class">State *</label>
                                                @Html.TextBoxFor(x => x.State, new { @class = "form-control", @placeholder = "Enter your state", @id = "inputState" })
                                                @Html.ValidationMessageFor(x => x.State, "", new { @class = "error" })
                                               
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="label-class">ZipCode *</label>
                                                @Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control", @placeholder = "Enter your zipcode", @id = "inputZip" })
                                                @Html.ValidationMessageFor(x => x.ZipCode, "", new { @class = "error" })
                                                
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="label-class">Country *</label>
                                                @Html.DropDownListFor(x => x.CountryID, new SelectList(ViewBag.Country, "Value", "Text"), "Select your country", new { @class = "form-control", @id = "special-select" })
                                                <!--<select id="special-select" class="form-control form-control-lg">
                                                    <option selected>Select your country</option>
                                                    <option>India</option>
                                                    <option>Australia</option>
                                                    <option>Canada</option>
                                                </select>-->
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="university-info-div-user-profile">

                                        <div class="user-profile-heading">
                                            <h4>University and College Information</h4>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="label-class">University</label>
                                                @Html.TextBoxFor(x => x.University, new { @class = "form-control", @placeholder = "Enter your university" })
                                                @Html.ValidationMessageFor(x => x.University, "", new { @class = "error" })
                                                
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="label-class">College</label>
                                                @Html.TextBoxFor(x => x.College, new { @class = "form-control", @placeholder = "Enter your college" })
                                                @Html.ValidationMessageFor(x => x.College, "", new { @class = "error" })
                                                
                                            </div>
                                        </div>
                                        
                                        <button id="User-submit" type="submit" class="btn btn-primary">SUBMIT</button>

                                    </div>
                                </div>
                            </div>
                         }
                    </div>
                </div>
            </div>
            
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            Copyright &copy; Tatvasoft All Rights Reserved
                        </p>
                    </div>
                    <div class="col-md-2 text-center">
                        <ul class="social-list">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </footer>
    </section>
    <!--Jquery-->
    <script src="~/Scripts/user/jQuery-3.5.1.js"></script>
    <!--Bootstrap Js-->
    <script src="~/Scripts/user/bootstrap/bootstrap.js"></script>
    <!--script.js-->
    <script src="~/Scripts/user/script.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>

